<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.d3ifcool.fitme"
    android:installLocation="preferExternal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DetailArticleActivity"></activity>
        <activity android:name=".HighestScoreActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GrafikActivity"
            android:launchMode="singleTop" /> <!-- android:parentActivityName=".MainActivity" -->
        <activity
            android:name=".ReportActivity"
            android:launchMode="singleTop" /> <!-- android:parentActivityName=".MainActivity" -->
        <activity
            android:name=".WorkoutActivity"
            android:launchMode="singleTop" /> <!-- android:parentActivityName=".MainActivity" -->
        <activity
            android:name=".QuizActivity"
            android:launchMode="singleTop" /> <!-- android:parentActivityName=".MainActivity" -->
        <activity
            android:name=".ArticleActivity"
            android:launchMode="singleTop" /> <!-- android:parentActivityName=".MainActivity" -->
        <activity
            android:name=".AboutActivity"
            android:launchMode="singleTop" /> <!-- android:parentActivityName=".MainActivity" -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ReviewActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".CountdownActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".MulaiExerciseActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".FinishActivity"
            android:launchMode="singleTop" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>